header {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
}

header h1 {
    color: white;
}

header h5 {
    color: white;
}
header h6 {
    color: black;
}

header button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
}
button {
    margin: 5px;
}