header {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
}

header h1 {
    color: white;
}

header h5 {
    color: white;
}

header h6 {
    color: black;
}

header button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
}
button {
    margin: 5px;
}
.form_save {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1;
    background-color: blueviolet;
    border-radius: 50%;
}
.form_display {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: blueviolet;
    border-radius: 10px;
}